click
decorator
docker
Flask
flask-codemirror
Flask-WTF
ipdb
ipython
ipython-genutils
isort
itsdangerous
Jinja2
MarkupSafe
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
requests
simplegeneric
six
traitlets
wcwidth
websocket-client
Werkzeug
WTForms
